@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="h1_title"></h1>
    <div id="main_content" style="display: none; position: relative">
        <h2>URL for Clash Subscribe</h2>
        <p><input style="width: 100%" id="url_show" type="text" /></p>
        <b style="color: #FF1023">Keep things on this page private!</b>
        <h2>Your Configuration File (yaml)</h2>
        <pre id="pre_preview" style="text-align: left; border: 1px solid black"></pre>
    </div>
    <script>
        var login_stat = "@Model.login_stat" == "True" ? true : false;
        var username = "@Model.username";
        var token_valid = "@Model.token_valid" == "True" ? true : false;
        var h1_title = document.getElementById("h1_title");
        var main_content = document.getElementById("main_content");
        var pre_preview = document.getElementById("pre_preview");
        var url_show = document.getElementById("url_show");
        if(login_stat)
        {
            h1_title.innerText = "Welcome, " + username + "(" + @Model.uid + ").";
            main_content.style.display = "block";
            var xhr = new XMLHttpRequest();
            xhr.open('POST', window.location + "&handler=config", true);
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.send(JSON.stringify({
                token: "@Model.token"
            }));
            xhr.onload = () => {
                pre_preview.innerText = xhr.responseText;
                var last_slash = window.location.toString().lastIndexOf("/");
                url_show.value = window.location.toString().substring(0, last_slash) + "/ApiGenYaml?token=" + "@Model.token";
            };
        }
        else
        {
            if (token_valid) {
                h1_title.innerHTML = "You need to <a href=\"Login\">Login</a> before you can use it.";
            }
            else {
                var token = localStorage.getItem("token");
                window.location = window.location + "?token=" + token + "&token_valid=true";
            }
        }
    </script>
</div>
